{% extends "layout.html" %}
{% block content %}




<!Doctypehtml>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TABLA DE REGISTRO</title>


            <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css_contacto.css')}}">




</style>
    </head>
    <body>
           <header id="principal">
               <span id= "titulo">EDITAR DATOS CLIENTE</span>
            </header>


            <section class="main">
                <section class="articles">
                    <article>

                        <br>
                        <br>

<center>

    <div class="container">
    <br>
    <div class="form-row">
        <form action="/CeditarF/{{cliente.0}}" method="post">
            <div class="col-md-12">
                <label for="nombreC" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombreC" id="nombreC" value="{{cliente.1}}"></input>
            </div>
            <div class="col-md-12">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" name="apellido" id="apellido" value="{{cliente.2}}"></input>
            </div>
            <div class="col-md-12">
                <label for="tel" class="form-label">Teléfono</label>
                <input type="tel" class="form-control" name="tel" id="tel" value="{{cliente.3}}"></input>
            </div>
            <div class="col-md-12">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" name="email" id="email" value="{{cliente.4}}"></input>
            </div>
            <div class="col-md-12">
                <label for="obraIn" class="form-label">Obra de Interes</label> <!-- Hacer un for para mostere, así como en el poryecto de puesto en la parte de area -->
                    <input type="text" class="form-control" name="obraIn" id="obraIn" value="{{cliente.5}}"></input>
            </div>
            <div class="col-md-12">
                <label for="dir" class="form-label">Dirección</label>
                <input type="text" class="form-control" name="dir" id="dir" value="{{cliente.6}}"></input>
            </div>
    </div>
</div>

<br>

          <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
</center>




</article>
                </section>

            </section>
            <hb>

        </body>

</html>



















{% endblock %}